<div class="notification">
    <div
        class="marker"
        [class.pending]="request.Status == 0"
        [class.accepted]="request.Status == 1"
        [class.rejected]="request.Status == 2"
    ></div>
    <div class="data">
        <div class="picture">
            <div
                class="sender-avatar"
                [style.background-image]="
                    'url(' + request.AuthorPicture + ')'
                "
            ></div>
        </div>
        <div class="row">
            <div class="notification-column">
                <div class="notification-header">
                    <span>{{ getPublicStatusText(request.Status) }} </span>
                    request for publishing {{ request.FacilityName || "" }}
                </div>
                <div class="notification-row">
                    <div>Sent by</div>

                    <div class="sender">
                        {{ "@" + request.AuthorName }}
                    </div>
                    <div>on</div>
                    <div
                        [class.acceptedDate]="request.Status == 1"
                        [class.rejectedDate]="request.Status == 2"
                        [class.pendingDate]="request.Status == 0"
                    >
                        {{ request.Created | date : "dd/MM/yyyy,  HH:mm" }}
                    </div>
                </div>
            </div>
            <!--div class="notification-content">
            {{ notification.description }}
            </div-->
        </div>
    </div>
</div>
