<div id="sidebar" class="sidebar">
    <div class="header">Shopping cart:</div>
    <div class="items-container">
        <div class="order-card" *ngFor="let item of data">
            <div class="delete">
                <fa-icon
                    [icon]="faXmark"
                    (click)="removeOrderItem(item.Id!)"
                ></fa-icon>
            </div>
            <div class="card-info">
                <div class="row">
                    <div
                        class="image"
                        [style.background-image]="
                            'url(' +
                            (item.KeyPoint!.ImagePath.startsWith('http')
                                ? item.KeyPoint!.ImagePath
                                : imageHost + item.KeyPoint!.ImagePath) +
                            ')'
                        "
                    ></div>
                    <div class="column">
                        <div class="name">{{ item.Name }}</div>
                        <div class="tags">
                            <div class="tag" *ngFor="let tag of item.Tags">
                                {{ tag }}
                            </div>
                        </div>
                        <div>{{ item.Distance }}km</div>
                    </div>
                    <div class="column bottom">
                        <div class="row">
                            <div class="column">
                                <div class="row">
                                    <s *ngIf="item.Discount"
                                        ><fa-icon [icon]="faCoins"></fa-icon
                                    ></s>
                                    <fa-icon
                                        [icon]="faCoins"
                                        *ngIf="!item.Discount"
                                    ></fa-icon>
                                    <div *ngIf="item.Discount">
                                        <s>{{ item.Price }}</s>
                                    </div>
                                    <div *ngIf="!item.Discount">
                                        {{ item.Price }}
                                    </div>
                                </div>
                                <div class="row" *ngIf="item.Discount">
                                    <fa-icon
                                        class="tour-price-tokens"
                                        [icon]="faCoins"
                                    />
                                    <div class="tour-price-value">
                                        {{ item.DiscountedPrice! }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description">{{ item.Description }}</div>
            </div>
        </div>
    </div>
    <div class="checkout">
        <div class="column">
            <!-- <fa-icon
                class="coupon"
                [icon]="faMoneyBill"
                (click)="openCouponModal()"
            ></fa-icon> -->
            <div id="btn" class="btn" (click)="checkout()">
                <fa-icon [icon]="faCashRegister"></fa-icon>
                Checkout
            </div>
        </div>
        <div class="column">
            <div>Total price:</div>
            <div class="price">
                <fa-icon [icon]="faCoins"></fa-icon>
                {{ shoppingCart ? shoppingCart.totalPrice : 0 }}
            </div>
        </div>
    </div>
</div>
