<div class="dialog">
    <div class="title">
        <h1>Followers recommendation</h1>
    </div>
    <div class="user-container">
        <table>
            <tbody>
                <tr *ngFor="let u of users">
                    <td>{{ u.Username }}</td>
                    <td>
                        <button
                            *ngIf="!u.FollowingStatus"
                            (click)="follow(u.Id)"
                            color="primary"
                            mat-raised-button
                        >
                            Follow
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
