<div class="blog">
    <div
        class="sidebar"
        [ngClass]="{
            draft: blog.Status == 0,
            published: blog.Status == 1,
            closed: blog.Status == 2,
            activeBlog: blog.Status == 3,
            famous: blog.Status == 4
        }"
    >
       
    <div class="blog-content">
        <div class="blog-header">
            <h2 class="blog-title">{{ blog.Title }}</h2>
            <div
                class="tag"
                [ngClass]="{
                    'draft-tag': blog.Status == 0,
                    'published-tag': blog.Status == 1,
                    'closed-tag': blog.Status == 2,
                    'active-tag': blog.Status == 3,
                    'famous-tag': blog.Status == 4
                }"
            >
                {{ statusTag }}
            </div>
            <span class="blog-date">{{ blog.Date | date : "mediumDate" }}</span>
        </div>
        <div class="blog-description">
            <quill-view-html
                [content]="blogMarkdown"
                theme="bubble"
                [ariaReadOnly]="true"
            ></quill-view-html>
        </div>
        <div class="bottom-bar">
            <div
                class="share bottom-bar-button"
                (click)="shareBlog($event)"
                *ngIf="blog.Status != 0"
            >
                <fa-icon [icon]="faShareFromSquare" />
                Share
            </div>
            <div
                *ngIf="blog.Status == 0"
                class="publish bottom-bar-button"
                (click)="publishBlog($event)"
            >
                <fa-icon [icon]="faShareNodes" />
                Publish
            </div>
            <div
                *ngIf="blog.Status == 0"
                class="edit bottom-bar-button"
                [routerLink]="['blog-form/' + blog.Id]"
            >
                <fa-icon [icon]="faPen" />
                Edit
            </div>
            <div
                *ngIf="visibleDelete"
                class="delete bottom-bar-button"
                (click)="deleteBlog($event)"
            >
                <fa-icon [icon]="faTrash" />
                Delete
            </div>
        </div>
    </div>
</div>
